<a href="https://colab.research.google.com/github/SwidaSaeed/Python-project/blob/main/swida_saeed_sales_data_exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

**Task 1: Inspect the Data**

	•	Load the CSV into your preferred tool (Excel, Python pandas, or Google Sheets).
	•	Display the first 10 rows.
	•	Display the last 10 rows.
	•	Show the total number of rows and columns.

In [ ]:
from google.colab import files
data = files.upload()

Saving sales_data_200.csv to sales_data_200.csv

In [ ]:
data = pd.read_csv('sales_data_200.csv')  #converting dict to a readable csv file
data
#first 10 rows
data.head(10)
#last 10 rows
data.tail(10)
#showing the number of columns and rows
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   OrderID       40 non-null     int64
 1   Date          40 non-null     object
 2   CustomerName  40 non-null     object
 3   Product       40 non-null     object
 4   Category      40 non-null     object
 5   Quantity      36 non-null     float64
 6   UnitPrice     39 non-null     float64
 7   TotalPrice    36 non-null     float64
 8   Region        40 non-null     object
dtypes: float64(3), int64(1), object(5)
memory usage: 2.9+ KB

**Task 2: Selecting Specific Data**

	•	Select only the columns OrderID, CustomerName, Product, and TotalPrice.
	•	Select all orders where Region is "North".
	•	Select orders with Quantity > 5.
	•	Select orders for "Widget A" or "Gadget B".

In [ ]:
data[['OrderID','CustomerName', 'Product', 'TotalPrice']].head() #i did first 5 just to shorten output

   OrderID  CustomerName   Product  TotalPrice
0     1001  Emma Johnson  Widget A        60.0
1     1002    Liam Smith  Gadget B        70.0
2     1003  Olivia Brown  Widget A         NaN
3     1004    Noah Jones  Gadget C       250.0
4     1005    Ava Garcia  Widget B       100.0

In [ ]:
data[data['Region']=='North']

,OrderID,Date,CustomerName,Product,Category,Quantity,UnitPrice,TotalPrice,Region
0,1001,15/08/2025,Emma Johnson,Widget A,Widgets,3.0,20.0,60.0,North
4,1005,22/08/2025,Ava Garcia,Widget B,Widgets,4.0,25.0,100.0,North
8,1009,28/08/2025,Mason Wilson,Widget A,Widgets,3.0,20.0,60.0,North
12,1013,02/09/2025,Logan Moore,Widget C,Widgets,2.0,30.0,60.0,North
16,1017,08/09/2025,James Martin,Widget A,Widgets,5.0,20.0,100.0,North
20,1021,14/09/2025,Eliana Rodriguez,Widget C,Widgets,2.0,30.0,60.0,North
22,1023,16/09/2025,Emma Johnson,Widget A,Widgets,3.0,20.0,60.0,North
26,1027,22/09/2025,Ava Garcia,Widget C,Widgets,2.0,30.0,60.0,North
30,1031,28/09/2025,Mason Wilson,Widget B,Widgets,5.0,25.0,125.0,North
34,1035,04/10/2025,Logan Moore,Widget B,Widgets,NaN,25.0,NaN,North
38,1039,11/10/2025,James Martin,Widget C,Widgets,2.0,30.0,60.0,North

In [ ]:
data[data['Quantity'] > 5]

,OrderID,Date,CustomerName,Product,Category,Quantity,UnitPrice,TotalPrice,Region
7,1008,26/08/2025,Sophia Rodriguez,Gadget B,Gadgets,6.0,35.0,210.0,West
10,1011,30/08/2025,Ethan Thomas,Widget B,Widgets,8.0,25.0,200.0,East
18,1019,11/09/2025,Benjamin Garcia,Widget B,Widgets,7.0,25.0,175.0,East
21,1022,15/09/2025,Alexander Lee,Gadget B,Gadgets,6.0,35.0,210.0,South
29,1030,27/09/2025,Sophia Rodriguez,Gadget B,Gadgets,6.0,35.0,210.0,West

In [ ]:
data[(data['Product']=='Widget A') |(data['Product']=='Gadget B')]

,OrderID,Date,CustomerName,Product,Category,Quantity,UnitPrice,TotalPrice,Region
0,1001,15/08/2025,Emma Johnson,Widget A,Widgets,3.0,20.0,60.0,North
1,1002,17/08/2025,Liam Smith,Gadget B,Gadgets,2.0,35.0,70.0,South
2,1003,19/08/2025,Olivia Brown,Widget A,Widgets,NaN,20.0,NaN,East
7,1008,26/08/2025,Sophia Rodriguez,Gadget B,Gadgets,6.0,35.0,210.0,West
8,1009,28/08/2025,Mason Wilson,Widget A,Widgets,3.0,20.0,60.0,North
13,1014,03/09/2025,Charlotte Jackson,Gadget B,Gadgets,3.0,35.0,105.0,South
14,1015,05/09/2025,Elijah White,Widget A,Widgets,2.0,20.0,40.0,East
16,1017,08/09/2025,James Martin,Widget A,Widgets,5.0,20.0,100.0,North
17,1018,09/09/2025,Evelyn Thompson,Gadget B,Gadgets,4.0,35.0,140.0,South
21,1022,15/09/2025,Alexander Lee,Gadget B,Gadgets,6.0,35.0,210.0,South
22,1023,16/09/2025,Emma Johnson,Widget A,Widgets,3.0,20.0,60.0,North
23,1024,18/09/2025,Liam Smith,Gadget B,Gadgets,NaN,35.0,NaN,South
28,1029,25/09/2025,Lucas Davis,Widget A,Widgets,1.0,20.0,20.0,East
29,1030,27/09/2025,Sophia Rodriguez,Gadget B,Gadgets,6.0,35.0,210.0,West
35,1036,06/10/2025,Charlotte Jackson,Gadget B,Gadgets,1.0,35.0,35.0,South
36,1037,08/10/2025,Elijah White,Widget A,Widgets,3.0,20.0,60.0,East

**Task 3: Handling Null Values**

	•	Check which columns have missing/null values.
	•	Count the number of null values per column.
	•	Delete rows that have nulls or missing values
	•	Challenge tass: Delete rows that have nulls in Quantity or UnitPrice.

In [ ]:
data.isnull().sum()

OrderID         0
Date            0
CustomerName    0
Product         0
Category        0
Quantity        4
UnitPrice       1
TotalPrice      4
Region          0
dtype: int64

In [ ]:
data.dropna(inplace=True)

data.isnull().sum()  # we are checking whether nulls have been removed. As we can see it shows 0 for all columns

OrderID         0
Date            0
CustomerName    0
Product         0
Category        0
Quantity        0
UnitPrice       0
TotalPrice      0
Region          0
dtype: int64

In [ ]:
#Quantity or UnitPrice.

data = data.dropna(subset=['Quantity','UnitPrice'])

**Task 4: Handling Duplicates**

	•	Check if there are duplicate rows in the dataset.
	•	Delete duplicate rows keeping the first occurrence.

In [ ]:
data.duplicated().sum()

np.int64(0)

In [ ]:
data.drop_duplicates(inplace=True)

**Task 5: Modifying Columns**

	•	Rename the column CustomerName to Customer.
	•	Rename UnitPrice to PricePerUnit.

In [ ]:
data.rename(columns={'CustomerName':'Customer'}, inplace=True)

In [ ]:
data.rename(columns={'UnitPrice':'PricePerUnit'}, inplace=True)

In [ ]:
data.head(2)

,OrderID,Date,Customer,Product,Category,Quantity,PricePerUnit,TotalPrice,Region
0,1001,15/08/2025,Emma Johnson,Widget A,Widgets,3.0,20.0,60.0,North
1,1002,17/08/2025,Liam Smith,Gadget B,Gadgets,2.0,35.0,70.0,South

**Task 6: Changing Data Types**

	•	Convert Date to a date/time type.
	•	Convert Quantity to integer (after handling nulls).
	•	Convert TotalPrice to float if necessary.

In [ ]:
data['Date'] = pd.to_datetime(data['Date'])

/tmp/ipython-input-1453708669.py:1: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  data['Date'] = pd.to_datetime(data['Date'])

In [ ]:
data['Quantity'] = data['Quantity'].astype(int)

In [ ]:
data['TotalPrice'] = data['TotalPrice'].astype(float)

In [ ]:
#Checking now if all data types in the task have changed
data.dtypes

OrderID                  int64
Date            datetime64[ns]
Customer                object
Product                 object
Category                object
Quantity                 int64
PricePerUnit           float64
TotalPrice             float64
Region                  object
dtype: object

**Task 7: Filtering & Sorting**

	•	Filter orders where Category is "Gadgets" and TotalPrice > 150.
	•	Sort the data by TotalPrice in descending order.
	•	Find the top 10 orders by TotalPrice.
	•	Find the last 5 orders in terms of Date.

In [ ]:
data[(data['Category']=="Gadgets") & (data['TotalPrice']> 150)]

,OrderID,Date,Customer,Product,Category,Quantity,PricePerUnit,TotalPrice,Region
3,1004,2025-08-20,Noah Jones,Gadget C,Gadgets,5,50.0,250.0,West
7,1008,2025-08-26,Sophia Rodriguez,Gadget B,Gadgets,6,35.0,210.0,West
21,1022,2025-09-15,Alexander Lee,Gadget B,Gadgets,6,35.0,210.0,South
25,1026,2025-09-21,Noah Jones,Gadget C,Gadgets,5,50.0,250.0,West
29,1030,2025-09-27,Sophia Rodriguez,Gadget B,Gadgets,6,35.0,210.0,West
37,1038,2025-10-09,Amelia Harris,Gadget C,Gadgets,5,50.0,250.0,West

In [ ]:
desc_by_totalprice =data.sort_values(by='TotalPrice', ascending=False)
#saving this in another table just to experiment.
desc_by_totalprice

In [ ]:
desc_by_totalprice.head(10)

,OrderID,Date,Customer,Product,Category,Quantity,PricePerUnit,TotalPrice,Region
3,1004,2025-08-20,Noah Jones,Gadget C,Gadgets,5,50.0,250.0,West
25,1026,2025-09-21,Noah Jones,Gadget C,Gadgets,5,50.0,250.0,West
37,1038,2025-10-09,Amelia Harris,Gadget C,Gadgets,5,50.0,250.0,West
29,1030,2025-09-27,Sophia Rodriguez,Gadget B,Gadgets,6,35.0,210.0,West
21,1022,2025-09-15,Alexander Lee,Gadget B,Gadgets,6,35.0,210.0,South
7,1008,2025-08-26,Sophia Rodriguez,Gadget B,Gadgets,6,35.0,210.0,West
10,1011,2025-08-30,Ethan Thomas,Widget B,Widgets,8,25.0,200.0,East
18,1019,2025-09-11,Benjamin Garcia,Widget B,Widgets,7,25.0,175.0,East
31,1032,2025-09-30,Mia Anderson,Gadget C,Gadgets,3,50.0,150.0,South
17,1018,2025-09-09,Evelyn Thompson,Gadget B,Gadgets,4,35.0,140.0,South

In [ ]:
data.sort_values(by='Date', ascending=True).tail(5)

,OrderID,Date,Customer,Product,Category,Quantity,PricePerUnit,TotalPrice,Region
35,1036,2025-10-06,Charlotte Jackson,Gadget B,Gadgets,1,35.0,35.0,South
36,1037,2025-10-08,Elijah White,Widget A,Widgets,3,20.0,60.0,East
37,1038,2025-10-09,Amelia Harris,Gadget C,Gadgets,5,50.0,250.0,West
38,1039,2025-10-11,James Martin,Widget C,Widgets,2,30.0,60.0,North
39,1040,2025-10-12,Evelyn Thompson,Gadget A,Gadgets,3,40.0,120.0,South

**Task 8: Aggregation & Analysis (Optional/Bonus)**

	•	Calculate total sales per Region.
	•	Find average TotalPrice per Product.
	•	Count how many orders each Customer has placed.

In [ ]:
data['Region'].value_counts()
data.groupby('Region')['TotalPrice'].sum()

Region
East      775.0
North     745.0
South    1050.0
West     1410.0
Name: TotalPrice, dtype: float64

In [ ]:
round(data.groupby('Product')['TotalPrice'].mean(),2)

Product
Gadget A     96.00
Gadget B    140.00
Gadget C    200.00
Widget A     57.14
Widget B    140.00
Widget C     70.00
Name: TotalPrice, dtype: float64

In [ ]:
orders_placed = data.groupby('Customer')['OrderID'].count()

Customer
Abigail Martinez     1
Alexander Lee        1
Amelia Harris        1
Ava Garcia           2
Benjamin Garcia      1
Charlotte Jackson    2
Eliana Rodriguez     1
Elijah White         2
Emma Johnson         2
Ethan Thomas         2
Evelyn Thompson      2
Harper Taylor        2
Isabella Martinez    1
James Martin         2
Liam Smith           1
Logan Moore          1
Lucas Davis          2
Mason Wilson         2
Mia Anderson         2
Noah Jones           2
Olivia Brown         1
Sophia Rodriguez     2
Name: OrderID, dtype: int64